<div class="col-sm-6 text-center centered-block">
  <h2>Contact Requests</h2>

  <table class="centered-block contact-request-table">
    <tr class="text-center">
      <th>Username</th>
      <th>Send at</th>
      <th>Accept</th>
      <th>Decline</th>
    </tr>
    <tr *ngFor="let contactRequest of contactRequests">
      <td>{{contactRequest.sender.username}}</td>
      <td>{{contactRequest.sendAt}}</td>
      <td>
        <button class="btn btn-success" (click)="acceptContact(contactRequest)">Accept</button>
      </td>
      <td>
        <button class="btn btn-danger">Decline</button>
      </td>
    </tr>
  </table>
</div>
