<div class="row justify-content-center">
  <div class="col-4 text-center">
    <h2>{{todoList.name}}</h2>
    <table *ngIf="todos.length > 0" class="table todo-table">
      <tr>
        <th>Todo</th>
        <th>Progress</th>
        <th>Priority</th>
        <th>Completed</th>
        <th>Remove</th>
      </tr>
      <tr *ngFor="let todo of todos; index as i">
        <td [ngClass]="{'line-through': todo.todoForm.completed}"><a routerLink="/todo_list/{{todoList.id}}/todo/{{todo.id}}">{{todo.name}}</a></td>
        <td>
          <input 
            type="number"
            class="progress-input"
            [class.error]="progress.errors"
            min="0"
            max="100"
            appMin="0"
            appMax="100"
            [(ngModel)]="todo.todoForm.progress"
            (change)="updateTodoSubscription(todo, i)"
            #progress="ngModel"
            /> %
        </td>
        <td>
          <input 
            type="number"
            class="priority-input"
            [class.error]="priority.errors"
            min="0"
            max="10"
            appMin="0"
            appMax="10"
            [(ngModel)]="todo.priority"
            (change)="updateTodoSubscription(todo, i)"
            #priority="ngModel"
            />
        </td>
        <td>
          <input type="checkbox" [(ngModel)]="todo.todoForm.completed" (change)="updateTodo(todo)"/>
        </td>
        <td>
          <button type="button" class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
        </td>
      </tr>
    </table>

    <form (submit)="addTodo()">
      <input type="text" name="newTodoName" [(ngModel)]="newTodo.name" placeholder="Enter todo name..." required/>
      <button type="submit" class="btn btn-success">Add</button>
    </form>
  </div>
</div>
