<div class="col-sm-12 text-center">
  <h2>{{todoList.name}}</h2>
</div>
<table class="todo-table">
  <tr class="text-center">
    <th>Todo</th>
    <th>Progress</th>
    <th>Priority</th>
    <th>Completed</th>
    <th>Remove</th>
  </tr>
  <tr *ngFor="let todo of todos">
    <td [ngClass]="{'line-through': todo.todoForm.completed}"><a routerLink="/todo_list/1/todo/{{todo.id}}">{{todo.name}}</a></td>
    <td class="text-center">
      <input type="number"  min="0" max="100" [(ngModel)]="todo.todoForm.progress" (change)="updateTodoSubscription(todo)"/> %
    </td>
    <td>
      <input type="number" min="0" max="10" [(ngModel)]="todo.priority" (change)="updateTodoSubscription(todo)"/>
    </td>
    <td class="text-center">
      <input type="checkbox" [(ngModel)]="todo.todoForm.completed" (change)="updateTodo(todo)"/>
    </td>
    <td>
      <button type="button" class="btn btn-danger" (click)="deleteTodo(todo)">Delete</button>
    </td>
  </tr>
</table>

<div class="text-center">
  <form (submit)="addTodo()">
    <input type="text" name="newTodoName" [(ngModel)]="newTodo.name" placeholder="Enter todo name..." required/>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
