<div class="col-sm-12 text-center">
  <h2>{{title}}</h2>
</div>
<table class="user-table text-center">
  <tr *ngFor="let user of users">
    <td><a href="/users/1">{{user.username}}</a></td>
  </tr>
  <!--<tr>-->
    <!--<td><a href="user_detail.html">Paul</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="user_detail.html">RstLessKing</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="user_detail.html">Skatepainter</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="user_detail.html">User1</a></td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td><a href="user_detail.html">User2</a></td>-->
  <!--</tr>-->
</table>
