<div class="col-sm-12 text-center">
  <h2>My latest Todos</h2>
</div>
<table class="todo-table">
  <tr class="text-center">
    <th class="text-left">Todo</th>
    <th>Progress in %</th>
    <th>Due Date</th>
    <th>Completed</th>
    <!--<th>Remove</th>-->
  </tr>
  <tr>
    <td><a routerLink="/assigned_todo_list/1">Go running</a></td>
    <td>
      <input type="number" min="0" max="100" value="100">
    </td>
    <td>05.12.2017</td>
    <td class="text-center">
      <input type="checkbox" />
    </td>
  </tr>
  <tr>
    <td><a href="#">Go swimming</a></td>
    <td>
      <input type="number" min="0" max="100" value="100">
    </td>
    <td>05.12.2017</td>
    <td class="text-center">
      <input type="checkbox" />
    </td>
  </tr>
  <tr>
    <td><a href="#">Go shop groceries</a></td>
    <td>
      <input type="number" min="0" max="100" value="100">
    </td>
    <td>05.12.2017</td>
    <td class="text-center">
      <input type="checkbox" />
    </td>
  </tr>
  <tr>
    <td><a href="#">Buy christmas gifts</a></td>
    <td>
      <input type="number" min="0" max="100" value="100">
    </td>
    <td>05.12.2017</td>
    <td class="text-center">
      <input type="checkbox" />
    </td>
  </tr>
  <tr>
    <td><a href="#">Run</a></td>
    <td>
      <input type="number" min="0" max="100" value="100">
    </td>
    <td>05.12.2017</td>
    <td class="text-center">
      <input type="checkbox" />
    </td>
  </tr>
</table>
