<div class="row">
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" routerLink="/">Tudo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="/">Todo Lists<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/assigned_todo_list">Assigned Todos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contacts">Contacts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact_requests">Contact Requests</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/users">Users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sign_in" (click)="signOut()">Sign Out</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
