<div class="col-sm-12 text-center todo-list-heading">
  <h2>Todo Lists</h2>
</div>
<table class="todo-list-table text-center">
  <tr *ngFor="let todoList of todoLists">
    <td>
      <a routerLink="/todo_list/{{todoList.id}}" routerLinkActive="active">{{todoList.name}}</a>
    </td>
  </tr>

  <!--<tr>-->
    <!--<td>-->
      <!--<a href="list.html">My Second Todo List</a>-->
    <!--</td>-->
  <!--</tr>-->
  <!--<tr>-->
    <!--<td>-->
      <!--<a href="list.html">My Third Todo List</a>-->
    <!--</td>-->
  <!--</tr>-->
</table>

<div class="text-center todo-list-form">
  <form>
    <input type="text" placeholder="Enter todo list name..." required/>
    <button type="submit" class="btn btn-success">Add</button>
  </form>
</div>
