<div class="text-center">
  <h2>Sign Up</h2>
</div>
<div class="row justify-content-center">
  <form>
    <table>
      <tr>
        <td><label for="username">Username:</label></td>
        <td><input type="text" id="username" name="username"/></td>
      </tr>
      <tr>
        <td><label for="password">Password:</label></td>
        <td><input type="password" id="password" name="password"/></td>
      </tr>
      <tr>
        <td><label for="password-again">Password:</label></td>
        <td><input type="password" id="password-again" name="password-again"/></td>
      </tr>
      <tr>
        <td colspan="2">
          <div class="row justify-content-center">
            <button id="sign-in-btn" class="btn btn-primary" type="submit">Sign in</button>
          </div>
        </td>
      </tr>
    </table>
  </form>
</div>
