<div class="row justify-content-center">
  <div *ngIf="loaded" class="col-sm-6 text-center">
    <h2>{{user.username}}</h2>
    <div *ngIf="isContact">
      <p>{{user.username}} is a contact.</p>
      <button class="btn btn-danger" (click)="removeContact()">Remove</button>
    </div>
    <div *ngIf="isContactRequestSent">
      <p>Contact request sent.</p>
    </div>
    <div *ngIf="!isContactRequestSent && !isContact">
      <p>{{user.username}} is not a contact yet.</p>
      <button class="btn btn-success" (click)="sendContactRequest()">Send contact request</button>
    </div>
  </div>
</div>
