/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

html {
  font-family: sans-serif;
}

nav {
  margin: 4em auto 0 auto;
}

h2 {
  padding: 0.5em;
}

.btn-list {
  padding: 1em;
}

.btn {
  cursor: pointer;
}

.todo-list-backlink {
  margin-top: 1em;
}

.todo-attribute-table {
  margin: 1em auto 0 auto;
}

.todo-attribute-table th {
  padding-right: 1.5em;
}

.todo-attribute-table td {
  padding: 0.5em;
}

.sign-in-table {
  margin: 0 auto;
}

.sign-in-table td {
  padding: 0.25em;
}

#sign-in-btn {
  margin-top: 0.5em;
}

.line-through {
  text-decoration: line-through;
}

.progress-input {
  width: 3.25em;
}

.priority-input {
  width: 2.75em;
}

.alert {
  position: absolute;
  left: calc(50% - 240px);

  margin: 1em auto 0 auto;
  width: 25%;
}

.close {
  cursor: pointer;
}

.error {
  color: red;
}

button[disabled]:hover {
  cursor: not-allowed;
}
