<form (submit)="saveTodo()" #form="ngForm">
  <div class="col-sm-12 text-center">
    <h4 class="todo-list-backlink"><a routerLink="/todo_list/{{todoListId}}">{{todoList.name}}</a></h4>
    <h2><input type="text" name="name" [(ngModel)]="todo.name"/></h2>
  </div>
  <table class="todo-attribute-table">
    <tr>
      <th>Description:</th>
      <td>
        <textarea rows="5" cols="40" name="description" [(ngModel)]="todo.description"></textarea>
      </td>
    </tr>
    <tr>
      <th>Progress in %:</th>
      <td>
        <input type="number" min="0" max="100" name="progress" [(ngModel)]="todo.todoForm.progress" appMin="0" appMax="100" #progress="ngModel"/>
        <p class="error" *ngIf="progress.errors">enter a valid percentage</p>
      </td>
    </tr>
    <tr>
      <th>Priority:</th>
      <td>
        <input type="number" min="0" max="10" name="priority" [(ngModel)]="todo.priority" appMin="0" appMax="10" #priority="ngModel"/>
        <p class="error" *ngIf="priority.errors">enter a priority from 0 to 10</p>
      </td>
    </tr>
    <tr>
      <th>Assignee:</th>
      <td>
        <select multiple [(ngModel)]="assignedUsersBinding" name="assignedUsersBinding">
          <option *ngFor="let contact of contacts" [value]="contact.username">{{contact.username}}</option>
          <option value="None">None</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Created at:</th>
      <td>
        {{todo.createdAt | date}}
      </td>
    </tr>
    <tr>
      <th>Due date:</th>
      <td>
        <!--ToDo: Convert datetime format-->
        <input type="date" name="dueDate" [ngModel]="todo.dueDate | date:'yyyy-MM-dd'" (ngModelChange)="todo.dueDate=$event"/>
      </td>
    </tr>
    <tr>
      <th>Last updated:</th>
      <td>{{todo.todoForm.lastUpdated | date}}</td>
    </tr>
    <tr>
      <th>Completed at:</th>
      <td>{{todo.todoForm.completedAt | date}}</td>
    </tr>
    <tr>
      <th>Tags:</th>
      <td>
        <input type="text" size="42" name="tags" [(ngModel)]="tags" />
      </td>
    </tr>
    <tr>
      <th>Location:</th>
      <td>
        <!--ToDo: Create location model-->
        <input type="text" value="{{todo.location}}" />
      </td>
    </tr>
    <tr>
      <th>Completed:</th>
      <td>
        <input type="checkbox" name="completed" [(ngModel)]="todo.todoForm.completed"/>
      </td>
    </tr>
  </table>
  <div class="text-center btn-list">
    <button type="submit" class="btn btn-success" [disabled]="!form.valid">Save</button>
    <button type="button" class="btn btn-danger" (click)="deleteTodo()">Delete</button>
  </div>
</form>
