<form (submit)="saveTodo()">
  <div class="col-sm-12 text-center">
    <h4 class="todo-list-backlink"><a routerLink="/todo_list/{{todoListId}}">{{todoList.name}}</a></h4>
    <h2><input type="text" name="name" [(ngModel)]="todo.name"/></h2>
  </div>
  <table class="todo-attribute-table">
    <tr>
      <th>Description:</th>
      <td>
        <textarea rows="5" cols="40" name="description" [(ngModel)]="todo.description"></textarea>
      </td>
    </tr>
    <tr>
      <th>Progress in %:</th>
      <td>
        <input type="number" min="0" max="100" name="progress" [(ngModel)]="todo.todoForm.progress"/>
      </td>
    </tr>
    <tr>
      <th>Priority:</th>
      <td>
        <input type="number" min="0" max="10" name="priority" [(ngModel)]="todo.priority"/>
      </td>
    </tr>
    <tr>
      <th>Assignee:</th>
      <td>
        <select multiple [(ngModel)]="assignedUsersBinding" name="assignedUsersBinding">
          <option *ngFor="let contact of filteredContacts">{{contact.username}}</option>
          <option *ngFor="let assignedUser of assignedUsers" selected="selected" >{{assignedUser.username}}</option>
        </select>
      </td>
    </tr>
    <tr>
      <th>Created at:</th>
      <td>
        {{todo.createdAt}}
      </td>
    </tr>
    <tr>
      <th>Due date:</th>
      <td>
        <!--ToDo: Convert datetime format-->
        <input type="date" name="dueDate" [(ngModel)]="todo.dueDate" />
      </td>
    </tr>
    <tr>
      <th>Last updated:</th>
      <td>{{todo.todoForm.lastUpdated}}</td>
    </tr>
    <tr>
      <th>Completed at:</th>
      <td>{{todo.todoForm.completedAt}}</td>
    </tr>
    <tr>
      <th>Tags:</th>
      <td>
        <input type="text" size="42" name="tags" [(ngModel)]="tags" />
      </td>
    </tr>
    <tr>
      <th>Location:</th>
      <td>
        <!--ToDo: Create location model-->
        <input type="text" value="{{todo.location}}" />
      </td>
    </tr>
    <tr>
      <th>Completed:</th>
      <td>
        <input type="checkbox" name="completed" [(ngModel)]="todo.todoForm.completed"/>
      </td>
    </tr>
  </table>
  <div class="text-center btn-list">
    <button type="submit" class="btn btn-success">Save</button>
    <button type="button" class="btn btn-danger" (click)="deleteTodo()">Delete</button>
  </div>
</form>
