<div class="col-sm-12 text-center">
  <h4 class="todo-list-backlink"><a href="list.html">My Second Todo List</a></h4>
  <h2>Go running</h2>
</div>
<table class="todo-attribute-table">
  <tr>
    <th>Description:</th>
    <td>
      <p>I have to start running again to improve my stamina and confidence.</p>
    </td>
  </tr>
  <tr>
    <th>Progress in %:</th>
    <td>
      <input type="number" min="0" max="100" value="0" />
    </td>
  </tr>
  <tr>
    <th>Assignee:</th>
    <td>
      Florian
    </td>
  </tr>
  <tr>
    <th>Created at:</th>
    <td>
      05.12.2017
    </td>
  </tr>
  <tr>
    <th>Due date:</th>
    <td>06.12.2017</td>
  </tr>
  <tr>
    <th>Last updated:</th>
    <td>
      05.12.2017
    </td>
  </tr>
  <tr>
    <th>Completed at:</th>
    <td>
      06.12.2017
    </td>
  </tr>
  <tr>
    <th>Tags:</th>
    <td>
      <p>running, sports, stamina, confidence</p>
    </td>
  </tr>
  <tr>
    <th>Location:</th>
    <td>Ganderkesee</td>
  </tr>
  <tr>
    <th>Completed:</th>
    <td>
      <input type="checkbox" />
    </td>
  </tr>
</table>
<div class="text-center btn-list">
  <button type="button" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-danger">Delete</button>
</div>
